.appdata/
.home/
.localappdata/
.npm-cache/
.pnpm-home/
.pnpm-store/

node_modules/
node_modules.stale/
.expo/
dist/
web-build/
expo-env.d.ts
*.tsbuildinfo

.env
.env.*
!.env.example

ios/
android/

.DS_Store
Thumbs.db
